.navbar
  background: #ffffff url('../img/navbar/bgc-navbar.png') repeat-y
  background-position: right center, left center
  background-size: 40.8%, contain
  &-block 
    display: flex
    align-items: center
    height: 82px
  &__image
    margin-right: 135px
  &-panel
    font-weight: 400
    margin-right: 122px
    +bold
    &__section
      font-size: 15px
      text-decoration: none
      color: $text-color
      position: relative
      &:not(:last-child)
        margin-right: 56px
        &::after
          content: ""
          position: absolute
          top: 0
          right: -32px
          width: 2px
          height: 12px
          background-color: $text-color
          opacity: 0.15
  &-call
    display: flex
    justify-content: space-between
    align-items: center
  &__phone
    font-size: 18px
    margin-right: 44px
    display: flex
    &__image
      margin-top: 1px
      margin-right: 6px
    &__num
      display: block
      text-decoration: none
      color: $text-color
      font-weight: 700
      letter-spacing: 0.1px
  &__button
    margin-top: 3px
    font-size: 14px
.num__light
  font-weight: 400
@media   ( max-width: 1200px )
  .navbar
    &__image
      margin-right: 40px
    &-panel
      margin-right: 100px
      &__section
        &:not(:last-child)
          margin-right: 40px
@media   ( max-width: 992px )
  .navbar
    background: #fff
    &__image
      width: 45px
      margin-right: 40px
    &-panel
      margin-right: 74px
      &__section
        font-size: 13px
        margin-right: 0px
        &:not(:last-child)
          margin-right: 22px
          &::after
            content: ""
            position: absolute
            top: 0
            right: -18px
            width: 2px
            height: 12px
            background-color: $text-color
            opacity: 0.15
    &__phone
      margin-right: 0
      &__image
        width: 15px
        margin-top: 0
      &__num
        font-size: 13px
    &__button
      margin-left: 20px
      font-size: 12px 

@media   ( min-width: 992px )
  .navbar-panel__section
      &:hover
        color: $main-color
        &::before  
          content: ""
          position: absolute
          top: 20px
          right: 0
          width: 100%
          height: 2px
          background-color: $main-color 
          opacity: 1

@media   ( max-width: 768px )
  .navbar
    &-block
      justify-content: space-between
    &-call
      margin-left: 210px
    &-panel
      display: none
    &__image
      width: 35px
      margin-right: 0px
    &-panel
      margin-right: 74px
      &__section
        font-size: 13px
        &:not(:last-child)
          margin-right: 14px
          &::after
            content: ""
            position: absolute
            top: 0
            right: -12px
            width: 2px
            height: 12px
            background-color: $text-color
            opacity: 0.15
@media   ( max-width: 567px )
  .navbar 
    &-call
      margin-left: -20px
@media   ( max-width: 420px )
  .navbar
    &-call
      display: flex
      flex-direction: column
      margin-left: 30px
    &__button
      font-size: 11px
      padding: 5px 8px 5px 8px
    &__phone
      margin-bottom: 5px
      &__image
        width: 12px
      &__num
        font-size: 11px
