.news
  background-color: $bg-color
  margin-top: 147px
  position: relative
  &-block
    padding-top: 87px
    padding-bottom: 72px
  &-article
    width: 1172px
    display: flex
    justify-content: space-between
    margin-bottom: 66px
  &-card
    width: 379px
  &__image
    margin-bottom: 30px
  &-content
    width: 330px
  &-header
    display: flex
    justify-content: space-between
    margin-bottom: 13px
  &__title
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
  &__data
    font-size: 16px
    text-transform: uppercase
  &__num
    background-color: $main-color
    font-weight: 600
  &__text
    font-size: 18px
    line-height: 28px
    color: #020202
    opacity: 0.83
  &-button
    font-size: 20px
    text-transform: uppercase
    color: #020202
    padding: 18px 42px 16px 39px
    display: block
    margin-left: 433px
  &-box
    top: -29px
    left: 318px
    &__text
      padding-left: 55px