@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 300;
  color: #020202;
}

.container {
  max-width: 1202px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 567px;
  }
}

@media (max-width: 567px) {
  .container {
    width: 420px;
  }
}

@media (max-width: 420px) {
  .container {
    width: 320px;
  }
}

.button {
  background-color: #ffc800;
  border: none;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

.button-small {
  padding: 9px 14px 6px 15px;
}

.button:focus {
  outline: none;
}

.header-slider__item {
  background-color: #000000;
  margin: auto;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 45px;
  left: -15px;
}

.slick-dots li button {
  background-color: #fff;
}

.slick-dots li button:before {
  content: '';
  font-size: 20px;
}

.slick-dots li.slick-active button:before {
  background: #ffc800;
}

.box {
  width: 244px;
  height: 58px;
  background-color: #ffc800;
  position: absolute;
  top: -27px;
  left: 319px;
}

.box__text {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 32px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .button:hover {
    cursor: pointer;
    background-color: #ffd333;
  }
}

.navbar {
  background: #ffffff url("../img/navbar/bgc-navbar.png") repeat-y;
  background-position: right center, left center;
  background-size: 40.8%, contain;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82px;
}

.navbar__image {
  margin-right: 135px;
}

.navbar-panel {
  font-weight: 400;
  margin-right: 122px;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

.navbar-panel__section {
  font-size: 15px;
  text-decoration: none;
  color: #020202;
  position: relative;
}

.navbar-panel__section:not(:last-child) {
  margin-right: 56px;
}

.navbar-panel__section:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -32px;
  width: 2px;
  height: 12px;
  background-color: #020202;
  opacity: 0.15;
}

.navbar-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__phone {
  font-size: 18px;
  margin-right: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__phone__image {
  margin-top: 1px;
  margin-right: 6px;
}

.navbar__phone__num {
  display: block;
  text-decoration: none;
  color: #020202;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.navbar__button {
  margin-top: 3px;
  font-size: 14px;
}

.num__light {
  font-weight: 400;
}

@media (max-width: 1200px) {
  .navbar__image {
    margin-right: 40px;
  }
  .navbar-panel {
    margin-right: 100px;
  }
  .navbar-panel__section:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: 992px) {
  .navbar {
    background: #fff;
  }
  .navbar__image {
    width: 45px;
    margin-right: 40px;
  }
  .navbar-panel {
    margin-right: 74px;
  }
  .navbar-panel__section {
    font-size: 13px;
    margin-right: 0px;
  }
  .navbar-panel__section:not(:last-child) {
    margin-right: 22px;
  }
  .navbar-panel__section:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 2px;
    height: 12px;
    background-color: #020202;
    opacity: 0.15;
  }
  .navbar__phone {
    margin-right: 0;
  }
  .navbar__phone__image {
    width: 15px;
    margin-top: 0;
  }
  .navbar__phone__num {
    font-size: 13px;
  }
  .navbar__button {
    margin-left: 20px;
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .navbar-panel__section:hover {
    color: #ffc800;
  }
  .navbar-panel__section:hover::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc800;
    opacity: 1;
  }
}

@media (max-width: 769px) {
  .navbar__image {
    width: 35px;
    margin-right: 0px;
  }
  .navbar-panel {
    margin-right: 74px;
  }
  .navbar-panel__section {
    font-size: 13px;
  }
  .navbar-panel__section:not(:last-child) {
    margin-right: 14px;
  }
  .navbar-panel__section:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 2px;
    height: 12px;
    background-color: #020202;
    opacity: 0.15;
  }
}

.header {
  position: relative;
  margin-bottom: 133px;
}

.header-block {
  position: absolute;
  z-index: 1;
  margin-top: 207px;
}

.header__title {
  font-size: 35px;
  text-transform: uppercase;
  color: #ffc800;
  margin-bottom: 17px;
  margin-left: -2px;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

.header__subtitle {
  font-size: 35px;
  font-weight: 400;
  color: #fffffe;
  margin-bottom: 29px;
  margin-left: -2px;
}

.header__text {
  opacity: 0.42;
  color: #fffffe;
  line-height: 28px;
  margin-bottom: 50px;
  max-width: 1106px;
  width: 100%;
  font-size: 20px;
  word-spacing: -1px;
}

.header-button {
  font-size: 19px;
  text-transform: uppercase;
  padding: 10px 40px 10px 39px;
  letter-spacing: -1px;
}

.header-slider__item {
  margin: auto;
}

.service {
  background-color: #F7F7F7;
  position: relative;
}

.service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 104px;
  padding-bottom: 100px;
}

.service-card {
  margin-right: 19px;
  position: relative;
  margin-bottom: 19px;
}

.service-card-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 377px;
  height: 236px;
}

.service-image {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.service-content {
  padding-top: 63px;
}

.service__title {
  font-size: 20px;
  color: #fcfafa;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.service__title__hoover::before {
  content: 'Описание этой услуги является очень интересным и познавательным. Оно дает нам понять, насколько важно заказать у нас эту услугу. Если мы этого не сделаем, будет очень плохо(((';
  top: 20px;
  left: 5%;
  right: 5%;
  font-size: 16px;
  text-align: center;
  position: absolute;
  opacity: 0;
}

.service__title__hoover::after {
  content: 'от 500 р';
  color: #fff;
  bottom: 75px;
  left: 152px;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.service__button {
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  margin: auto;
  margin-bottom: 68px;
  padding-left: 20px;
  padding-right: 17px;
}

.service-box {
  width: 244px;
  height: 58px;
  background-color: #ffc800;
  position: absolute;
  top: -29px;
  left: 319px;
}

.service-box__text {
  font-size: 28px;
  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;
}

.service-card:hover .service-image {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.service-card:hover .service__button {
  background-color: #000;
  color: #000;
}

.service-card:hover .service__title__hoover::after {
  opacity: 1;
}

.service-card:hover .service__title {
  color: #000;
}

.offer {
  background: url("../img/offer/offer-bg.png"), #ffffff;
  background-position: left center, right center;
  background-size: 56.5%, contain;
  background-repeat: repeat-y, no-repeat;
  height: 500px;
  margin-top: 143px;
  margin-bottom: 142px;
  padding-bottom: 63px;
  position: relative;
}

.offer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-block__left {
  width: 667px;
}

.offer-block__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 96px;
}

.offer-block__content {
  margin-top: 91px;
  margin-right: 22px;
}

.offer-card {
  width: 198px;
  height: 168px;
  background-color: #fff;
  text-align: center;
  margin-right: 36px;
  margin-bottom: 36px;
}

.offer-card-3, .offer-card-6 {
  margin-right: 0;
}

.offer-card__img {
  margin-top: 16px;
  margin-bottom: 20px;
}

.offer-card__img-6 {
  margin-top: 26px;
}

.offer-card__text {
  font-size: 18px;
  text-transform: uppercase;
}

.offer-card__text-4, .offer-card__text-5 {
  line-height: 22px;
}

.offer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  margin-right: -10px;
  position: relative;
}

.offer__num {
  display: block;
  font-size: 37px;
  color: #ffc800;
  font-weight: 600;
  position: relative;
}

.offer__num::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 35px;
  width: 31px;
  height: 2px;
  background-color: #020202;
}

.offer__num-1 {
  margin-bottom: 16px;
}

.offer__num-2 {
  margin-top: -23px;
}

.offer__num-3 {
  margin-top: -4px;
  margin-bottom: 8px;
}

.offer__text {
  font-size: 20px;
  color: #020202;
  width: 350px;
  margin-left: 67px;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

.offer__text-1 {
  margin-top: 10px;
  margin-left: 63px;
  line-height: 24px;
}

.offer__text-2 {
  margin-left: 55px;
}

.offer__text-3 {
  position: absolute;
  top: 4px;
  right: 0;
}

.offer__text-4 {
  position: absolute;
  top: 7px;
  right: 0;
}

.reviews {
  background-color: #000;
  position: relative;
}

.reviews-block {
  padding-top: 110px;
  padding-bottom: 169px;
}

.reviews-card {
  text-align: center;
  width: 466px;
  margin-right: 120.5px;
  margin-left: 120.5px;
}

.reviews__image {
  margin: auto;
  margin-bottom: 17px;
}

.reviews__title {
  color: #ffc800;
  font-size: 20px;
  margin-bottom: 18px;
}

.reviews__text {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 28px;
}

.reviews-assesment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 15px;
}

.reviews__like__image {
  margin-right: 7px;
}

.reviews__like__text {
  color: #fff;
  display: block;
}

.reviews__dislike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 15px;
}

.reviews__dislike__image {
  margin-right: 8px;
}

.reviews__dislike__text {
  color: #fff;
  display: block;
}

.reviews-dots {
  bottom: -121px;
  left: -16px;
}

.reviews-dots #slick-slide-control11 {
  margin-right: 2px;
}

.reviews li {
  width: 21px;
}

.reviews-box {
  width: 244px;
  height: 58px;
  top: -25px;
  left: 318px;
}

.reviews-box__text {
  padding-top: 17px;
  padding-left: 61px;
}

.news {
  background-color: #f1f1f1;
  margin-top: 147px;
  position: relative;
}

.news-block {
  padding-top: 87px;
  padding-bottom: 76px;
}

.news-article {
  width: 1172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 66px;
}

.news-card {
  width: 379px;
}

.news__image {
  margin-bottom: 30px;
}

.news-content {
  width: 330px;
}

.news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}

.news__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.news__data {
  font-size: 16px;
  text-transform: uppercase;
}

.news__num {
  background-color: #ffc800;
  font-weight: 600;
}

.news__text {
  font-size: 18px;
  line-height: 28px;
  color: #020202;
  opacity: 0.83;
}

.news-button {
  font-size: 20px;
  text-transform: uppercase;
  color: #020202;
  padding: 18px 42px 16px 39px;
  display: block;
  margin-left: 433px;
}

.news-box {
  top: -29px;
  left: 318px;
}

.news-box__text {
  padding-left: 55px;
}
/*# sourceMappingURL=style.css.map */