@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 300;
  color: #020202;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1202px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 567px;
  }
}

@media (max-width: 567px) {
  .container {
    width: 420px;
  }
}

@media (max-width: 420px) {
  .container {
    width: 320px;
  }
}

.button {
  background-color: #ffc800;
  border: none;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

.button-small {
  padding: 9px 14px 6px 15px;
}

.button:focus {
  outline: none;
}

a:focus {
  outline: none;
}

.header-slider__item {
  background-color: #000000;
  margin: auto;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 45px;
  left: -15px;
}

.slick-dots li button {
  background-color: #fff;
}

.slick-dots li button:before {
  content: '';
  font-size: 20px;
}

.slick-dots li.slick-active button:before {
  background: #ffc800;
}

.box {
  width: 244px;
  height: 58px;
  background-color: #ffc800;
  position: absolute;
  top: -27px;
  left: 319px;
}

.box__text {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 32px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .button:hover {
    cursor: pointer;
    background-color: #ffd333;
  }
}

.navbar {
  background: #ffffff url("../img/navbar/bgc-navbar.png") repeat-y;
  background-position: right center, left center;
  background-size: 40.8%, contain;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82px;
}

.navbar__image {
  margin-right: 135px;
}

.navbar-panel {
  font-weight: 400;
  margin-right: 122px;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

.navbar-panel__section {
  font-size: 15px;
  text-decoration: none;
  color: #020202;
  position: relative;
}

.navbar-panel__section:not(:last-child) {
  margin-right: 56px;
}

.navbar-panel__section:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -32px;
  width: 2px;
  height: 12px;
  background-color: #020202;
  opacity: 0.15;
}

.navbar-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__phone {
  font-size: 18px;
  margin-right: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__phone__image {
  margin-top: 1px;
  margin-right: 6px;
}

.navbar__phone__num {
  display: block;
  text-decoration: none;
  color: #020202;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.navbar__button {
  margin-top: 3px;
  font-size: 14px;
}

.num__light {
  font-weight: 400;
}

@media (max-width: 1200px) {
  .navbar__image {
    margin-right: 40px;
  }
  .navbar-panel {
    margin-right: 100px;
  }
  .navbar-panel__section:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: 992px) {
  .navbar {
    background: #fff;
  }
  .navbar__image {
    width: 45px;
    margin-right: 40px;
  }
  .navbar-panel {
    margin-right: 74px;
  }
  .navbar-panel__section {
    font-size: 13px;
    margin-right: 0px;
  }
  .navbar-panel__section:not(:last-child) {
    margin-right: 22px;
  }
  .navbar-panel__section:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 2px;
    height: 12px;
    background-color: #020202;
    opacity: 0.15;
  }
  .navbar__phone {
    margin-right: 0;
  }
  .navbar__phone__image {
    width: 15px;
    margin-top: 0;
  }
  .navbar__phone__num {
    font-size: 13px;
  }
  .navbar__button {
    margin-left: 20px;
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .navbar-panel__section:hover {
    color: #ffc800;
  }
  .navbar-panel__section:hover::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc800;
    opacity: 1;
  }
}

@media (max-width: 769px) {
  .navbar__image {
    width: 35px;
    margin-right: 0px;
  }
  .navbar-panel {
    margin-right: 74px;
  }
  .navbar-panel__section {
    font-size: 13px;
  }
  .navbar-panel__section:not(:last-child) {
    margin-right: 14px;
  }
  .navbar-panel__section:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 2px;
    height: 12px;
    background-color: #020202;
    opacity: 0.15;
  }
}

.header {
  position: relative;
  margin-bottom: 133px;
}

.header-block {
  position: absolute;
  z-index: 1;
  margin-top: 207px;
}

.header__title {
  font-size: 35px;
  text-transform: uppercase;
  color: #ffc800;
  margin-bottom: 17px;
  margin-left: -2px;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

.header__subtitle {
  font-size: 35px;
  font-weight: 400;
  color: #fffffe;
  margin-bottom: 29px;
  margin-left: -2px;
}

.header__text {
  opacity: 0.42;
  color: #fffffe;
  line-height: 28px;
  margin-bottom: 50px;
  max-width: 1106px;
  width: 100%;
  font-size: 20px;
  word-spacing: -1px;
}

.header-button {
  font-size: 19px;
  text-transform: uppercase;
  padding: 10px 40px 10px 39px;
  letter-spacing: -1px;
}

.header-slider__item {
  margin: auto;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 100px;
  }
}

.service {
  background-color: #F7F7F7;
  position: relative;
}

.service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 104px;
  padding-bottom: 100px;
}

.service-card {
  margin-right: 19px;
  position: relative;
  margin-bottom: 19px;
}

.service-card-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 377px;
  height: 236px;
}

.service-image {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.service-content {
  padding-top: 63px;
}

.service__title {
  font-size: 20px;
  color: #fcfafa;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.service__title__hoover::before {
  content: 'Описание этой услуги является очень интересным и познавательным. Оно дает нам понять, насколько важно заказать у нас эту услугу. Если мы этого не сделаем, будет очень плохо(((';
  top: 20px;
  left: 5%;
  right: 5%;
  font-size: 16px;
  text-align: center;
  position: absolute;
  opacity: 0;
}

.service__title__hoover::after {
  content: 'от 500 р';
  color: #fff;
  bottom: 75px;
  left: 152px;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.service__button {
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  margin: auto;
  margin-bottom: 68px;
  padding-left: 20px;
  padding-right: 17px;
}

.service-box {
  width: 244px;
  height: 58px;
  background-color: #ffc800;
  position: absolute;
  top: -29px;
  left: 319px;
}

.service-box__text {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .service-card:hover .service-image {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .service-card:hover .service__button {
    background-color: #000;
    color: #000;
  }
  .service-card:hover .service__title {
    opacity: 0;
  }
  .service-card:hover .service__title__hoover::after {
    opacity: 1;
  }
  .service-card:hover .service__title__hoover::before {
    opacity: 1;
  }
  .service-card:hover .service__title {
    color: #000;
  }
}

@media (max-width: 1200px) {
  .service-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-box {
    left: 140px;
    width: 230px;
    height: 50px;
  }
  .service-box__text {
    font-size: 25px;
    padding-left: 5px;
  }
}

@media (max-width: 992px) {
  .service-card {
    width: 300px;
  }
  .service-image {
    width: 100%;
  }
  .service-content {
    padding-top: 40px;
    padding-left: 80px;
  }
}

.offer {
  background: url("../img/offer/offer-bg.png"), #ffffff;
  background-position: left center, right center;
  background-size: 56.5%, contain;
  background-repeat: repeat-y, no-repeat;
  height: 500px;
  margin-top: 143px;
  margin-bottom: 142px;
  padding-bottom: 63px;
  position: relative;
}

.offer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-block__left {
  width: 667px;
}

.offer-block__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 96px;
}

.offer-block__content {
  margin-top: 91px;
  margin-right: 22px;
}

.offer-card {
  width: 198px;
  height: 168px;
  background-color: #fff;
  text-align: center;
  margin-right: 36px;
  margin-bottom: 36px;
}

.offer-card-3, .offer-card-6 {
  margin-right: 0;
}

.offer-card__img {
  margin-top: 16px;
  margin-bottom: 20px;
}

.offer-card__img-6 {
  margin-top: 26px;
}

.offer-card__text {
  font-size: 18px;
  text-transform: uppercase;
}

.offer-card__text-4, .offer-card__text-5 {
  line-height: 22px;
}

.offer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  margin-right: -10px;
  position: relative;
}

.offer__num {
  display: block;
  font-size: 37px;
  color: #ffc800;
  font-weight: 600;
  position: relative;
}

.offer__num::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 35px;
  width: 31px;
  height: 2px;
  background-color: #020202;
}

.offer__num-1 {
  margin-bottom: 16px;
}

.offer__num-2 {
  margin-top: -23px;
}

.offer__num-3 {
  margin-top: -4px;
  margin-bottom: 8px;
}

.offer__text {
  font-size: 20px;
  color: #020202;
  width: 350px;
  margin-left: 67px;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

.offer__text-1 {
  margin-top: 10px;
  margin-left: 63px;
  line-height: 24px;
}

.offer__text-2 {
  margin-left: 55px;
}

.offer__text-3 {
  position: absolute;
  top: 4px;
  right: 0;
}

.offer__text-4 {
  position: absolute;
  top: 7px;
  right: 0;
}

@media (max-width: 1200px) {
  .box {
    left: 140px;
    width: 230px;
    height: 50px;
  }
  .box__text {
    font-size: 25px;
    padding-left: 36px;
  }
  .offer {
    background-size: 52%, contain;
  }
  .offer-block__cards {
    width: 370px;
    margin-top: 60px;
    margin-left: 100px;
  }
  .offer-card {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 140px;
  }
  .offer-card__img {
    width: 40px;
  }
  .offer-card__text {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .offer__text {
    width: 270px;
    font-size: 16px;
  }
  .offer__text-2 {
    margin-top: -20px;
  }
  .offer__num {
    font-size: 30px;
  }
  .offer__num::before {
    width: 25px;
  }
  .offer-block__cards {
    margin-left: 30px;
  }
  .offer-block__content {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .offer {
    background: none;
    background-color: #F7F7F7;
    height: 605px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .offer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer-block__cards {
    width: 515px;
    margin-left: 0;
    margin-left: 40px;
  }
  .offer-block__content {
    margin-top: 20px;
    margin-left: 60px;
  }
  .offer-card-3, .offer-card-6 {
    margin-right: 0;
  }
  .offer-card__text {
    font-size: 14px;
  }
  .offer-content {
    margin-bottom: 20px;
  }
  .offer__num-1::before {
    left: 32px;
  }
  .offer__num-2, .offer__num-3, .offer__num-4 {
    margin-left: -2px;
  }
  .offer__text {
    width: 400px;
  }
  .offer__text-1 {
    margin-bottom: 20px;
    margin-left: 60px;
  }
  .offer__text-1, .offer__text-2 {
    line-height: normal;
  }
  .offer__text-3, .offer__text-4 {
    margin-right: 46px;
  }
}

@media (max-width: 567px) {
  .offer-block__cards {
    width: 420px;
  }
  .offer-card {
    width: 120px;
    height: 120px;
  }
  .offer-card__img {
    width: 30px;
  }
  .offer-card__text {
    font-size: 12px;
  }
  .offer__text-3, .offer__text-4 {
    position: static;
    margin-left: 55px;
  }
  .box {
    left: 115px;
  }
}

.reviews {
  background-color: #000;
  position: relative;
}

.reviews-block {
  padding-top: 110px;
  padding-bottom: 169px;
}

.reviews-card {
  text-align: center;
  width: 466px;
  margin-right: 120.5px;
  margin-left: 120.5px;
}

.reviews__image {
  margin: auto;
  margin-bottom: 17px;
}

.reviews__title {
  color: #ffc800;
  font-size: 20px;
  margin-bottom: 18px;
}

.reviews__text {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 28px;
}

.reviews-assesment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 15px;
}

.reviews__like__image {
  margin-right: 7px;
}

.reviews__like__text {
  color: #fff;
  display: block;
}

.reviews__dislike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 15px;
}

.reviews__dislike__image {
  margin-right: 8px;
}

.reviews__dislike__text {
  color: #fff;
  display: block;
}

.reviews-dots {
  bottom: -121px;
  left: -16px;
}

.reviews-dots #slick-slide-control11 {
  margin-right: 2px;
}

.reviews li {
  width: 21px;
}

.reviews-box {
  width: 244px;
  height: 58px;
  top: -25px;
  left: 318px;
}

.reviews-box__text {
  padding-top: 17px;
  padding-left: 61px;
}

@media (max-width: 1200px) {
  .reviews-block {
    width: 500px;
    margin: auto;
  }
  .reviews-card {
    margin-right: 300px;
    margin-left: 300px;
  }
  .reviews-card-box {
    left: 140px;
    width: 230px;
    height: 50px;
  }
  .reviews-card-box__text {
    padding-top: 15px;
  }
}

.news {
  background-color: #f1f1f1;
  margin-top: 147px;
  position: relative;
}

.news-block {
  padding-top: 87px;
  padding-bottom: 72px;
}

.news-article {
  max-width: 1172px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 66px;
}

.news-card {
  width: 379px;
}

.news__image {
  margin-bottom: 30px;
}

.news-content {
  width: 88%;
}

.news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}

.news__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.news__data {
  font-size: 16px;
  text-transform: uppercase;
}

.news__num {
  background-color: #ffc800;
  font-weight: 600;
}

.news__text {
  font-size: 18px;
  line-height: 28px;
  color: #020202;
  opacity: 0.83;
}

.news-button {
  font-size: 20px;
  text-transform: uppercase;
  color: #020202;
  padding: 18px 42px 16px 39px;
  display: block;
  margin: auto;
}

.news-box {
  top: -29px;
  left: 318px;
}

.news-box__text {
  padding-left: 55px;
}

@media (max-width: 1200px) {
  .news-card {
    width: 320px;
  }
  .news__image {
    width: 100%;
  }
  .news-header {
    width: 100%;
  }
  .news__text {
    font-size: 15px;
    width: 100%;
  }
  .news-box {
    left: 140px;
    width: 230px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .news-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-card {
    margin: auto;
    margin-bottom: 35px;
  }
}

.map {
  position: relative;
}

.map-block {
  height: 664px;
}

.request {
  width: 397px;
  height: 385px;
  background-color: #fff;
  -webkit-box-shadow: 2px -1px 10px 0px #000;
          box-shadow: 2px -1px 10px 0px #000;
  text-align: center;
  position: absolute;
  bottom: 138px;
  left: 350px;
}

.request-block {
  padding: 47px 46px 58px 46px;
}

.request__title {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.request__word {
  color: #ffc800;
}

.request__input {
  width: 305px;
  height: 22px;
  font-size: 18px;
  font-style: italic;
  border: none;
  border-bottom: solid 1px #000;
  margin-bottom: 39px;
}

.request__button {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 18px 58px 12px 58px;
  margin-top: 25px;
}

.request__google {
  width: 200px;
}

@media (max-width: 1200px) {
  .request {
    left: 140px;
  }
}

@media (max-width: 992px) {
  .request {
    position: static;
    margin: auto;
    margin-top: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 600px;
  }
  .request__input {
    width: 400px;
  }
  .request__button {
    width: 400px;
    margin-top: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.modal__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-block {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 305px;
  height: 276px;
  background-color: #ffff;
  padding: 47px 46px 58px 46px;
  position: relative;
  margin-top: 15%;
}

.modal-block__close {
  font-size: 16px;
  border: none;
  background-color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-block__close:focus {
  outline: none;
}

@media (min-width: 992px) {
  .modal-block__close:hover {
    background-color: #ffc800;
    cursor: pointer;
  }
}

.footer {
  background-color: #000;
}

.footer-block {
  color: #fdfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 52px;
  padding-bottom: 55px;
}

.footer-address {
  width: 349px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-address__text {
  font-size: 20px;
}

.footer-social {
  width: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 13px;
}

.footer-social__link {
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 15px;
}

.footer-social__image {
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-left: 5px;
}

.footer-contacts {
  width: 429px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 33px;
}

.footer__mail {
  width: 232px;
  border-right: solid 1px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__mail__icon {
  height: 14px;
  margin-top: 2px;
}

.footer__mail__text {
  font-size: 18px;
  margin-right: 25px;
  color: #fdfcfc;
}

.footer__phone {
  width: 174px;
}

.footer__phone__image {
  margin-bottom: 2px;
}

.footer__phone__num {
  margin-left: 4px;
  color: #fdfcfc;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.footer__phone__light {
  font-weight: 400;
}

@media (min-width: 992px) {
  .footer-social__link:hover {
    background-color: #ffc800;
  }
}

@media (max-width: 992px) {
  .footer-address {
    width: 245px;
  }
  .footer-address__image {
    height: 16px;
  }
  .footer-address__text {
    font-size: 14px;
  }
  .footer-social {
    margin-left: 0;
    margin-right: 35px;
  }
  .footer-social__link {
    width: 21px;
    height: 21px;
  }
  .footer-social__image {
    margin-top: 3px;
    margin-left: 2px;
  }
  .footer-contacts {
    width: 170px;
    margin: 0;
    margin-top: -20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__mail {
    width: 170px;
    border-right: none;
    margin-bottom: 10px;
  }
  .footer__mail__icon {
    width: 18px;
    height: 13px;
    margin-right: 15px;
  }
  .footer__mail__text {
    font-size: 14px;
  }
  .footer__phone__image {
    margin-right: 10px;
  }
  .footer__phone__num {
    font-size: 14px;
    margin-left: 0;
  }
}

body {
  position: relative;
}

.arrow {
  width: 40px;
  height: 40px;
  border: solid 1px #ffc800;
  border-radius: 21px;
  background-color: #fff;
  position: fixed;
  bottom: 100px;
  right: 50px;
}

.arrow__icon {
  width: 19px;
  height: 19px;
  margin-top: 10px;
  margin-left: 10px;
}

@media (min-width: 992px) {
  .arrow:hover {
    background-color: #ffc800;
  }
}

.modal-success {
  max-width: 570px;
  width: 90%;
  padding: 50px 70px 50px 60px;
  height: 100px;
}

.modal-success__title {
  font-size: 25px;
  text-align: left;
  margin-bottom: 15px;
}

.modal-success__text {
  text-align: left;
}
/*# sourceMappingURL=style.css.map */