@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 300;
  color: #020202;
}

.container {
  max-width: 1202px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 567px;
  }
}

@media (max-width: 567px) {
  .container {
    width: 420px;
  }
}

@media (max-width: 420px) {
  .container {
    width: 320px;
  }
}

.button {
  background-color: #ffc800;
  border: none;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

.button-small {
  padding: 9px 14px 6px 15px;
}

.button:focus {
  outline: none;
}

@media (min-width: 992px) {
  .button:hover {
    cursor: pointer;
    background-color: #ffd333;
  }
}

.navbar {
  background: #ffffff url("../img/navbar/bgc-navbar.png") repeat-y;
  background-position: right center, left center;
  background-size: 40.8%, contain;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82px;
}

.navbar__image {
  margin-right: 135px;
}

.navbar-panel {
  font-weight: 400;
  margin-right: 122px;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

.navbar-panel__section {
  font-size: 15px;
  text-decoration: none;
  color: #020202;
  position: relative;
}

.navbar-panel__section:not(:last-child) {
  margin-right: 56px;
}

.navbar-panel__section:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -32px;
  width: 2px;
  height: 12px;
  background-color: #020202;
  opacity: 0.15;
}

.navbar-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__phone {
  font-size: 18px;
  margin-right: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__phone__image {
  margin-top: 1px;
  margin-right: 6px;
}

.navbar__phone__num {
  display: block;
  text-decoration: none;
  color: #020202;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.navbar__button {
  margin-top: 3px;
  font-size: 14px;
}

.num__light {
  font-weight: 400;
}

@media (max-width: 1200px) {
  .navbar__image {
    margin-right: 40px;
  }
  .navbar-panel {
    margin-right: 100px;
  }
  .navbar-panel__section:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: 992px) {
  .navbar {
    background: #fff;
  }
  .navbar__image {
    width: 45px;
    margin-right: 40px;
  }
  .navbar-panel {
    margin-right: 74px;
  }
  .navbar-panel__section {
    font-size: 13px;
    margin-right: 0px;
  }
  .navbar-panel__section:not(:last-child) {
    margin-right: 22px;
  }
  .navbar-panel__section:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 2px;
    height: 12px;
    background-color: #020202;
    opacity: 0.15;
  }
  .navbar__phone {
    margin-right: 0;
  }
  .navbar__phone__image {
    width: 15px;
    margin-top: 0;
  }
  .navbar__phone__num {
    font-size: 13px;
  }
  .navbar__button {
    margin-left: 20px;
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .navbar-panel__section:hover {
    color: #ffc800;
  }
  .navbar-panel__section:hover::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc800;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */